/* Login Page */
.loginbox {
  width: 300px;
  margin: 150px auto;
  border: solid;
  border-width: .3px;
}
.ui.form.login {
    padding: 25px 15px 0 15px;
}
.login-title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-family: 'Oooh Baby', cursive;
  font-size: 3rem;
  font-weight: 600;
  color: blueviolet;
}
.ui.button {
  background-color: rgb(138, 43, 226, .3);
  font-size: 1.1rem;
  width: 160px;
}
.btn-div {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.btn-div.b {
  margin-bottom: 20px;
}
.error.hidden {
  visibility: hidden;
}
.error {
  font-size: .8rem;
  color: red;
}

/* Create Account Box */
.create-account-box {
  width: 600px;
  margin: 100px auto;
  border: solid;
  border-width: .3px;
}

.six.wide.column.logout {
  display: flex;
  justify-content:end;
}
.ui.red.button {
  width: 90px;
}
.ui.container.grid.header {
  margin-top: 25px;
}
.ui.container.post-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.ui.card {
  width: 590px;
}
.eight.wide.column.comments {
  display: flex;
  justify-content: right;
}
.meta:hover {
  cursor: pointer;
}
.post.comment {
  color: black;
  padding-left: 10px;
}
.extra.content.post-comments {
  display: none;
}
.extra.content.show {
  background-color: rgb(240, 248, 255, .4);
}
.comment-name {
  margin-bottom: 5px;
}
.user-name-title {
  display: flex;
  justify-content: center;
  font-family: 'Oooh Baby', cursive;
  font-size: 2.5rem;
  font-weight: 400;
}
.post-reply-textarea {
  display: none;
}